In [ ]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)

In [ ]:
# imports
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

The code block below:

1.   Reads in the spam.csv from the most immediate directory. Making sure the coding is for English
2.   Next we select all the rows and the first two columns and assign that as the dataframe
3.  Next replace all instances of ham in the df as 0 and then replace all instances of spam in the df as 1
4.  Next rename the columns v1 to label and v2 to message
5.  Finally drop duplicate rows and then reset the indexes accounting for the dropped rows

In [ ]:
df = pd.read_csv('spam.csv', encoding='latin-1')
df = df.iloc[:, :2]
df = df.replace('ham', 0).replace('spam', 1)
df = df.rename(columns = {'v1': 'label', 'v2': 'message'})
df = df.drop_duplicates().reset_index(drop=True)

In [ ]:
df

      label                                            message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5164      1  This is the 2nd time we have tried 2 contact u...
5165      0              Will Ì_ b going to esplanade fr home?
5166      0  Pity, * was in mood for that. So...any other s...
5167      0  The guy did some bitching but I acted like i'd...
5168      0                         Rofl. Its true to its name

[5169 rows x 2 columns]

In [ ]:
messages = df['message']
y = df['label']
x = CountVectorizer().fit_transform(messages)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2021)